$background-color: #f3f3f3;
$bubble-border-color: #f3ff53;

.content{
    max-width: 100%;
    margin: 0 auto;
    background-color: $background-color;
    height: 600px;
    
    .image-container{
        z-index: 0;
        position: absolute;
        left: 10%;
        border-radius: 50%;
        overflow: hidden;
        height: 500px;
        width: 500px;
        img{
            height: 500px;
            position: absolute;
        }
        .transition{
            opacity: 100%;
            filter:invert(39%) sepia(200%) saturate(362%) hue-rotate(379deg) brightness(131%) contrast(140%);
          // filter: invert(100%);
            transition: opacity 0.5s;
            animation: animation 6s infinite linear;
        }
        .transition:hover{
            opacity: 0%;
        }
        .transition1{
            filter: invert(90%) sepia(12%) saturate(6873%) hue-rotate(180deg) brightness(93%) contrast(98%);
            opacity: 0%;
            transition: opacity 0.5s;
        }
        .transition1:hover{
            opacity: 100%;
        }
        
    }
    .text-container{
        z-index: 1;
        margin: 100px 0px 50px 60px;
        position: absolute;
        right: 10%;
        left: 35%;
        p{
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            word-spacing: 6px;
            line-height: 25px;
            color: black;
        }
        span{
            font-family: 'Open Sans', sans-serif;
            font-weight:900;
            word-spacing: 6px;
            line-height: 20px;
            font-size: 30px;
            color: black;
            background-color: #f3ff35;
        }
    }
}
@keyframes animation{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.wrapper {
  text-align: center;
  background-color: $background-color;
  .resource-wrap {
    .img-lamp {
      width: 60px;
      height: 48px;
      margin: 98px auto 11px auto;
    }
    .about-title {
      margin: 0px auto 50px auto;
      h2 {
        font-size: 50px;
        font-weight: bold;
      }
    }
    .about-desc {
      margin-bottom: 26px;
      .desc-text {
        font-size: 16px;
        line-height: 1.4em;
        span {
          background-color: $bubble-border-color;
          font-weight: bold;
        }
      }
    }
  }
  .hover-wrap {
    padding-bottom: 200px;
    position: relative;
    .hover-img {
      width: 797px;
      height: 460px;
    }
    .hover-items {
      position: relative;
      width: 800px;
      height: 462px;
      margin: auto;
      .hover-item {
        position: absolute;
      }
      .item1 {
        top: 70px;
        left: 30px;
        width: 350px;
        height: 360px;
        border-radius: 70px;
      }
      .item2 {
        top: 70px;
        right: 64px;
        width: 345px;
        height: 173px;
        border-radius: 40px;
      }
      .item3 {
        bottom: 28px;
        right: 60px;
        width: 168px;
        height: 172px;
        border-radius: 35px;
      }
      .item4 {
        bottom: 28px;
        right: 240px;
        width: 168px;
        height: 172px;
        border-radius: 35px;
      }
    }
  }
  .bubble {
    width: 243px;
    height: 167px;
    border: 3px solid $bubble-border-color;
    border-radius: 25px;
    line-height: normal;
    position: absolute;
    background-color: rgb(255 255 255 / 80%);
    display: none;
    .bubble-text {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      .bubble-title {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 20px;
      }
      .bubble-desc {
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
}
