@import "./about";
@import "./variables";
@import "./footer";
@import "./header";
@import "./work";

#updownbtn {
  z-index: 200;
  position: fixed;
  left: 1300px;
  bottom: 100px;
  box-shadow: #1a1111;
}

#svg1 {
  filter: drop-shadow(0 0 10px #e1e1e1);
}

.video-wrapper {
  height: 65vh;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro-wrapper {
  display: flex;
  margin-top: 250px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;

  & span {
    width: 50%;
  }

  & .intro {
    text-align: right;
  }

  & .intro-name {
    padding-left: 15px;
    text-align: left;
  }
}

#intro-description {
  margin-left: 25%;
}

#intro-transition {
  margin-top: 220px;
  text-align: center;
  visibility: hidden;
  animation: cssAnimation 0s 1s forwards;
}

@keyframes cssAnimation {
  to {
    visibility: visible;
  }
}

.btn-transition {
  position: absolute;
  bottom: 8%;
  left: 50%;
  width: 37px;
  height: 37px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/59/59690.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
